.root {
    -fx-background-color: blanchedalmond;
}

#panel {
    -fx-border-style: solid solid solid solid;
    -fx-border-color: black;
    -fx-border-width: 2px;
}

.optionBar {
    -fx-border-style: solid;
    -fx-background-color: #090a0c,
    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
    -fx-border-width: 1px;
    -fx-border-color: black;
}

.optionButton {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-cursor: hand;
    -fx-pref-width: 70px;
    -fx-text-fill: white;
}

.toggle-button {
    -fx-background-color: linear-gradient(#ffd65b, #e68400),
    linear-gradient(#ffef84, #f2ba44),
    linear-gradient(#ffea6a, #efaa22),
    linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
    linear-gradient(from 0% 0% to 15% 50%, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -fx-background-radius: 20;
}

.customize {
    -fx-background-color: linear-gradient(#ffd65b, #e68400),
    linear-gradient(#ffef84, #f2ba44),
    linear-gradient(#ffea6a, #efaa22),
    linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
    linear-gradient(from 0% 0% to 15% 50%, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -fx-border-style: solid;
    -fx-border-color: chocolate;
    -fx-border-width: 2px;
}

#palette {
    -fx-background-color: linear-gradient(#ffd65b, #e68400),
    linear-gradient(#ffef84, #f2ba44),
    linear-gradient(#ffea6a, #efaa22),
    linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
    linear-gradient(from 0% 0% to 15% 50%, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -fx-font-family: Unispace;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-body-color: linear-gradient(#ffd65b, #e68400),
    linear-gradient(#ffef84, #f2ba44),
    linear-gradient(#ffea6a, #efaa22),
    linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
    linear-gradient(from 0% 0% to 15% 50%, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -fx-background-color: linear-gradient(#ffd65b, #e68400),
    linear-gradient(#ffef84, #f2ba44),
    linear-gradient(#ffea6a, #efaa22),
    linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
    linear-gradient(from 0% 0% to 15% 50%, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
}

.spinner .text-field {
    -fx-background-color: linear-gradient(#ffd65b, #e68400),
    linear-gradient(#ffef84, #f2ba44),
    linear-gradient(#ffea6a, #efaa22),
    linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
    linear-gradient(from 0% 0% to 15% 50%, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -fx-font-family: Unispace;
}

.spinner {
    -fx-focus-color: linear-gradient(#ffd65b, #e68400),
    linear-gradient(#ffef84, #f2ba44),
    linear-gradient(#ffea6a, #efaa22),
    linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
    linear-gradient(from 0% 0% to 15% 50%, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
}

#choices {
    -fx-background-color: #090a0c,
    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
    -fx-font-family: Unispace;
    -fx-mark-color: white;
}

#choices .context-menu {
    -fx-background-color: #090a0c,
    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#choices .label {
    -fx-text-fill: white;
}

#choices .menu-item:focused {
    -fx-background-color: linear-gradient(#ffd65b, #e68400),
    linear-gradient(#ffef84, #f2ba44),
    linear-gradient(#ffea6a, #efaa22),
    linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
    linear-gradient(from 0% 0% to 15% 50%, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
}

.customButton {
    -fx-background-color: #090a0c,
    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
    -fx-font-family: Unispace;
    -fx-pref-width: 150;
}

.dialog-pane {
    -fx-background-color: white;
}

#instructions {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(#ffd65b, #e68400),
    linear-gradient(#ffef84, #f2ba44),
    linear-gradient(#ffea6a, #efaa22),
    linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
    linear-gradient(from 0% 0% to 15% 50%, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
    -fx-pref-width: 160;
    -fx-text-fill: rgba(0, 0, 0, 0.8);
}

.info-box {
    -fx-background-color: #090a0c,
    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
}

.info-box > .content {
    -fx-pref-height: 150;
    -fx-font-family: Unispace;
    -fx-font-size: smaller;
    -fx-text-fill: white;
}

.info-box:header > .header-panel {
    -fx-font-family: Unispace;
    -fx-background-color: linear-gradient(#ffd65b, #e68400),
    linear-gradient(#ffef84, #f2ba44),
    linear-gradient(#ffea6a, #efaa22),
    linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%);
}

.info-box .button {
    -fx-background-color: linear-gradient(#ffd65b, #e68400),
    linear-gradient(#ffef84, #f2ba44),
    linear-gradient(#ffea6a, #efaa22),
    linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
    linear-gradient(from 0% 0% to 15% 50%, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -fx-background-radius: 20;
    -fx-font-family: Unispace;
    -fx-cursor: HAND;
}

.info-box > .button-bar {
    -fx-spacing: 30;
}

.alert-box {
    -fx-font-family: Unispace;
    -fx-background-color: linear-gradient(#ffd65b, #e68400),
    linear-gradient(#ffef84, #f2ba44),
    linear-gradient(#ffea6a, #efaa22),
    linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%);;
}

.alert-box > .content {
    -fx-content-display: center;
    -fx-alignment: center;
}

.alert-box .button {
    -fx-background-color: #090a0c,
    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
    -fx-font-family: Unispace;
    -fx-text-fill: white;
    -fx-cursor: HAND;
}
